.place__link {
  color: #FFF;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  text-decoration-line: underline;
}

.place__link:hover {
  opacity: .3;
  transition: .8s ease-in-out;
}
